node_modules

diff/new/*
diff/old/*
!diff/new/.gitkeep

input/data/*
!input/data/.gitkeep
input/languages/*
!input/languages/.gitkeep
input/maps/*
!input/maps/.gitkeep

output/data/*
!output/data/.gitkeep
output/maps/*
!output/maps/.gitkeep