node_modules

diff/new/*
!diff/new/.gitkeep
diff/old/*
!diff/old/.gitkeep

input/data/*
!input/data/.gitkeep
input/languages/*
!input/languages/.gitkeep
input/images/*
!input/images/.gitkeep

output/data/*
!output/data/.gitkeep
output/images/*
!output/images/.gitkeep