node_modules

data_input/*
!data_input/.gitkeep

data_output/*
!data_output/.gitkeep

languages/*
!languages/.gitkeep

map_data/*
!map_data/.gitkeep

map_elements/*
!map_elements/.gitkeep

map_renders/*
!map_renders/.gitkeep